

footer ul {
    list-style-type: none;

}

/* GENERAL CSS RULES */
body {
    font-family: "Raleway", sans-serif;
    padding-left: 28px;
}


/* HEADER */
header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 20px 60px 10px;
}
/* Logo size */
.logo {
    width:61px;
    height:19px;
}
/* Nav menu */
nav a {
    text-decoration:none;
    color:black;
    padding:56px 35px;
    font-size:13px;
    font-weight:500;
}
 nav a:hover{
    border-top:3px solid #0065FC;
    color:#0065FC;
}

/* MAIN PADDING */
main {
    padding: 0 10px 0 10px;
}

/*h1 & h2 SHAPING*/
h1 {
    font-size: 22px;
    font-weight:700;
    line-height: 25px;
}
h2 {
    font-size:16px;
    font-weight: 400;
    line-height: 18px;
}

/* SEARCH SECTION */
.search {
    display: flex;
    justify-content: flex-start;
    align-items:stretch;
    margin-top: 30px;
    margin-bottom: 12px;
}
.location {
    background-color: #D9D9D9;
    padding: 12px 15px;
    border-radius: 15px 0 0 15px;
}
#search-input {
    border:1px solid #D9D9D9;
    border-right-color: #0065FC;
    padding-left:10px;
    width: 210px; 
    font-weight: 500; 
    font-size:15px; 
}
.search-button {
    color: white;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
    padding: 12px 15px;
    font-weight: 600;
}

/*FILTERS SECTION*/
.filters {
    display:flex;
    justify-content:flex-start;
    align-items:center;
    line-height: 15px;
    font-size: 14px;
}
.filters-title {
    font-weight: 600;
    font-size: 15px;
}
.filters-list {
    display:flex;
    flex-direction: row;
    list-style-type: none;
}
.filters-list li {
    padding: 12px 15px;
    margin: 20px;
    border:2px solid #D9D9D9;
    border-radius: 25px;
    font-weight: 600;
}
.f-icon {
    color:#0065FC;
    margin-right: 8px;
}
/*mouse hover : light blue background*/
.filters-list li:hover{
    background-color: #DEEBFF;
}

/*INFOBAR*/
.infobar {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
}
.info-icon {
    color:#0065FC;
    border:1px solid #D9D9D9;
    font-size: 10px;
    border-radius: 50%;
    padding: 6px 9px;
    margin-right: 10px; 
}

/* MOST POPULAR + ACCOMODATIONS BLOC CONTAINER */
.cards-blocs-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}
/* ACCOMODATIONS */
.accomodations {
    background-color: #D9D9D9;
    border-radius: 15px;
    padding: 15px;
    margin-top: 20px;
    width: 60%;
}
.accomodations-cards-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    align-content: space-evenly;
    grid-template-rows: auto auto;
    margin:16px;
}
/* Accomodations title and 'more' shaping */
h4 {
    margin-left: 15px;
    font-weight: 700;
    font-size: 18px;
}
.more {
    font-weight: 600;
    margin: 20px;
}

/* Shaping of cards */
.accomodations-cards {
    background-color: white;
    box-shadow: 8px 8px 8px #afaeae;
    transition: 0.3s;
    border-radius: 18px;
    padding: 5px;
    margin: 16px;
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    
}
/* Image */
.accomodations-cards img {
    height:125px;
    width:100%;
    object-fit: fill;
    border-radius: 15px 15px 0 0;
}
/* Options */
.accomodations-options {
    margin-left: 5px;
    line-height: 10px;
    padding : 4px;
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;*/
}
.options h5{
    margin:none;
    padding:none;
    ;
}
.options p{
    font-size: 12px;
}

/* Notation stars shaping & alignment */
.notation .blue-star {
    color:#0065FC;
}
.notation .grey-star {
    color:#D9D9D9;
}

/* MOST POPULAR SECTION */
.popular {
    background-color: #D9D9D9;
    border-radius: 15px;
    padding: 15px;
    margin-top: 20px;
    width: 30%;
}
.popular-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
    margin:16px;
}
/* Shaping of cards */
.popular-cards {
    background-color: white;
    box-shadow: 8px 8px 8px #afaeae;
    transition: 0.3s;
    border-radius: 18px;
    padding: 5px;
    margin: 16px;
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    
}
/* Image */
.popular-cards img {
    height:100%;
    width:125px;
    object-fit: fill;
    border-radius: 15px 0 0 15px;
}

/* ACTIVITIES SECTION */
.activities {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:25px;
}
.activities-cards {
    margin: 16px;
    box-shadow: 8px 8px 8px #afaeae;
    transition: 0.3s;
    border-radius: 18px;
}
/* Image */
.activities-cards img {
    height:80%;
    width:100%;
    object-fit: fill;
    border-radius: 15px 15px 0 0;
}


/*FOOTER*/
footer {
    background-color: #D9D9D9;
    margin: 10px;
    padding: 2px 14px 18px 14px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 12px;
    line-height: 25px;;
}
footer ul {
    width:30%;
}
h6 {
    line-height: none;
    font-weight: 600;
    font-size: 14px;
}